
.map-style {
  height: 85vh;
}

.info {
  text-align: center;
  vertical-align: middle;
}

a {
  color: white;
}

.icon-button {
  margin: auto;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;

  background: linear-gradient(45deg, #45cafc, #303f9f), #45cafc;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.10);
  border-radius: 100%;

  transition: background 4s ease, box-shadow 1.2s linear;
  &:hover {
    background: #303f9f;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.26), 0 6px 6px rgba(0, 0, 0, 0.28);
  }
}

.address {
}

.phone {

}

.social {
  height: 10vh;
}






