<div class="row" [@fadeIn]>
  <div class="col-sm-8 p-15">
    <agm-map class="z-depth-1-half map-container map-style" [latitude]="49.0699871"
             [longitude]="20.2806861" [zoom]="17">
      <agm-marker [latitude]="49.0699871" [longitude]="20.2806861"></agm-marker>
    </agm-map>
  </div>


  <div class="col-sm-4 text-center" [@fadeIn]>
    <div class="info">

      <div class="address">
        <i class="fa fa-map-marker"></i>
        <p>Fraňa Kráľa 2049/82, 058 01 Poprad-Veľká
          <br>
          <small>Kamenárstvo sa nachádza pri cintoríne</small>
        </p>
      </div>

      <hr>

      <div class="phone">
        <i class="fa fa-phone"></i>
        <p>+421 905 809 207<br>
          +421 902 368 111<br>
          +421 903 607 266<br>
          <small>Po - Pia, 8:00-16:00</small>
        </p>
      </div>

      <hr>

      <div class="social">
        <div>
          <a target="_blank" href="https://www.facebook.com/Kamenárstvo-Albert-278726532664730">
            <div class="icon-button">
              <i class="fa fa-facebook"></i>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>

