<div class="row contact-content">
  <div class="col-sm-7 map-style">
    <div class="margin-15">
      <agm-map class="z-depth-1-half map-container" style="height: 400px;" [latitude]="20" [longitude]="20">
        <agm-marker [latitude]="20" [longitude]="20"></agm-marker>
      </agm-map>
    </div>
  </div>

  <div class="col-sm-5 text-center" [@flyInOut]>
    <div>
      <a class="btn-floating  accent-1 waves-light" mdbRippleRadius><i class="fa fa-map-marker colorful"></i></a>
      <p>Fraňa Kráľa 2049/82, 058 01 Poprad-Veľká</p>
      <small>Kamenárstvo sa nachádza pri cintoríne</small>
    </div>

    <div>
      <a class="btn-floating  accent-1 waves-light" mdbRippleRadius><i class="fa fa-phone colorful"></i></a>
      <p>+421 911 111 111</p>
      <small>Po - Pia, 8:00-16:00</small>
    </div>

    <div>
      <a class="btn-floating  accent-1 waves-light" mdbRippleRadius><i class="fa fa-facebook colorful"></i></a>
      <p>facebook.com</p>
    </div>
  </div>

</div>

