<div class="content-div">
  <div class="container" [@fadeIn]>
    <div class="row">
      <div class="pad-15 col-sm-4" *ngFor="let service of serviceTypes">
        <div class="card hm-white-slight waves-light" mdbRippleRadius>
          <a>
            <div class="view  image-div">
              <img src="{{service.imagePath}}" class="img-fluid"
                   alt="Card image with a tree in a middle of a lake.">
              <div class="mask"></div>
            </div>
            <div class="card-body">
              <h6 class="card-title">{{service.title}}</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



