.home-content {
  background: papayawhip;
  height: 400px
}

.home-title{
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

.img-div{
  height: 400px;
}

.bg-image{
  max-width:100%;
  max-height:100%;

}
